// Main Colors
$colorPrimary: rgb(134, 57, 249);
$colorAccent: rgb(55, 185, 241);
$colorGrey: rgb(242, 245, 245);

// Font Colors
$colorText: #565360;
$colorLabel: #908e9b;
$colorDisabled: #e1dfe9;

// Sizes
$sizeXSm: 0.75rem;
$sizeSm: 1rem;
$sizeMd: 1.5rem;
$sizeLg: 2rem;
$sizeXLg: 3rem;

// Media Breakpoints
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpoingXLg: 1200px;
