@import '../sass/variables.scss';
@import '../sass/mixins.scss';

:root {
  --primary: #fff;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: $colorText;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: rgba(245, 245, 245, 0.4);
  color: #fff;
  // text-shadow: -1px 1px 2px $colorText, 1px 1px 2px $colorText,
  //   1px -1px 0 $colorText, -1px -1px 0 $colorText;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--small {
  padding: 0.5rem 1rem;
  font-size: $sizeXSm;
}
.btn--medium {
  padding: 0.5rem 1rem;
  font-size: $sizeSm;
}

.btn--large {
  padding: 0.5rem 1rem;
  font-size: $sizeMd;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}

// @media screen and (max-width: 768px) {
//   .btn--small {
//     font-size: $sizeSm;
//   }
//   .btn--medium {
//     font-size: $sizeMd;
//   }
//   .btn--large {
//     font-size: $sizeLg;
//   }
// }
