@import '../sass/variables.scss';
@import '../sass/mixins.scss';

.navbar {
  height: 3rem;
  padding: 0;
  max-width: 100% !important;
  background: rgba(256, 256, 256, 0.3);
  .navbar__container {
    .navbar-brand {
      padding-left: 1rem;
      color: $colorText;
      font-size: $sizeSm;
      @include --viewportMd {
        font-size: $sizeSm;
      }
    }
    .navbar-toggler {
      margin-right: 1rem;
      padding: 0;
      text-decoration: none;
      border: none;
      outline: none;
      box-shadow: none;
      .toggler-icon {
        font-size: $sizeSm;
        color: $colorText;
      }
    }
  }
  .navbar-collapse {
    display: flex;
    flex-flow: column;
    position: fixed;
    // z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    visibility: hidden;
    opacity: 0;
    // z-index: -1;
    transition: all 0.4s;
    border: 1px orange;

    &.show {
      min-height: 100vh;
      visibility: visible;
      opacity: 1;
      // z-index: 9;
      .navbar-nav {
        .nav-item {
          opacity: 1;
        }
      }
    }
    .navbar-collapse__top {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      padding: 1rem 1.5rem;
      width: 100%;
      // height: 3rem;

      .navbar-brand {
        align-self: flex-end;

        padding-left: 1rem;
        color: $colorText;
        font-size: $sizeSm;
        @include --viewportMd {
          font-size: $sizeSm;
        }
      }
      .navbar-collapse__toggler {
        align-self: flex-end;

        margin-right: 1rem;
        background: transparent;
        text-decoration: none;
        border: none;
        outline: none;
        box-shadow: none;
        .toggler-icon {
          color: $colorText;
          font-size: $sizeMd;
          @include --viewportMd {
            font-size: $sizeLg;
          }
        }
      }
    }

    .navbar-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      margin-top: 5rem;

      text-align: center; /* For Edge */
      -moz-text-align-last: center; /* For Firefox prior 58.0 */
      text-align-last: center;
      .nav-item {
        border-radius: 1.5rem;
        padding: 0.25rem 1rem;
        &:hover {
          background-color: lighten($colorPrimary, 15%);
          box-shadow: 0 6px 20px rgba(15, 56, 133, 0.17);
          .nav-link {
            color: #fff;
          }
        }
        .nav-link {
          color: $colorText;
          font-size: $sizeMd;
          @include --viewportMd {
            font-size: $sizeLg;
          }
        }
      }
    }
  }
}

.lock-scroll {
  overflow: hidden;
}
