@import '../style.scss';

.navbar {
  height: 5rem;
  max-width: 100% !important;
  background-color: transparent;
  .container-fluid {
    width: 80%;
    margin: 0 auto;
    Link.navbar-brand {
      color: $colorText;
      font-size: $sizeMd1;
      margin: 0 0 0 2rem;
    }
    .navbar-collapse {
      .navbar-nav {
        text-align: justify; /* For Edge */
        -moz-text-align-last: center; /* For Firefox prior 58.0 */
        text-align-last: center;
        .nav-item {
          border-radius: 3rem;
          padding: 0.5rem 1rem;
          Link.nav-link {
            color: $colorText;
            font-size: $sizeMd1;
          }
          &:hover {
            color: #fff;
          }
        }
        .nav-item:hover {
          background-color: lighten($colorPrimary, 15%);
          box-shadow: 0 6px 20px rgba(15, 56, 133, 0.17);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .container-fluid {
      width: 100vw;

      margin: 0 auto;

      .navbar-collapse {
        box-shadow: inset 0 0 0 100rem rgba(245, 245, 245, 0.7);
        border-radius: 0 0 1rem 1rem;
      }
    }
  }
}
