@import '../sass/variables.scss';
@import '../sass/mixins.scss';

.navbar {
  height: 5rem;
  max-width: 100% !important;
  background-color: transparent;
  .navbar__container {
    // width: 90%;
    // margin: auto;

    .navbar-brand {
      padding-left: 1rem;
      color: $colorText;
      font-size: $sizeSm;
      @include --viewportMd {
        font-size: $sizeSm;
      }
    }
    .navbar-toggler {
      text-decoration: none;
      border: none;
      outline: none;
      box-shadow: none;
      // @include --rippleEffect;
    }
    .toggler-icon {
      font-size: $sizeSm;
      color: $colorText;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      text-align: center; /* For Edge */
      -moz-text-align-last: center; /* For Firefox prior 58.0 */
      text-align-last: center;
      .nav-item {
        border-radius: 3rem;
        padding: 0.5rem 1rem;
        // @include --rippleEffect;

        &:hover {
          background-color: lighten($colorPrimary, 15%);
          box-shadow: 0 6px 20px rgba(15, 56, 133, 0.17);
          .nav-link {
            color: #fff;
          }
        }
        .nav-link {
          color: $colorText;
          font-size: $sizeSm;
        }
      }
    }
  }
}
