@import '../style.scss';
.team {
  padding: 2rem 0;
  background: #fff;
  h1 {
    text-align: center;
  }
  .team__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    // max-width: 1120px;
    width: 90%;
    margin: auto;

    .team__members {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;

      .team__member {
        display: flex;
        flex-flow: column;
        width: 100%;
        box-shadow: 0 6px 20px rgba(15, 56, 133, 0.17);
        border-radius: 1rem;
        overflow: hidden;
        text-decoration: none;
        .team__member-picture {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          overflow: hidden;

          .cards__item__img {
            width: 80%;
            height: auto;
            transition: all 0.2s linear;
            &.hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: $colorText;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .team {
    .team__container {
      width: 95%;
      .team__members {
        display: flex;
        flex-flow: column;
      }
    }
  }
}
