@import './sass/variables.scss';
@import './sass/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
  // overflow-x: hidden;
  font-family: 'Fraunces', serif;
  color: $colorText;
}
.app {
  margin: 0;
  padding: 0;
}
//
//
/* Home Section */
.home__container {
  margin-top: -5rem;
  padding: 0;
  background: url('./assets/seoul.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000rem rgb(0, 0, 0, 0.1);
  object-fit: contain;
  > h1 {
    font-size: $sizeLg;
    @include --viewportMd {
      font-size: $sizeXLg;
    }
    color: #fff;
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  > p {
    margin-top: 0.5rem;
    color: #fff;
    font-size: $sizeSm;
    text-align: center;
    text-transform: capitalize;
  }
  .home__btns {
    margin-top: 3rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include --viewportMd {
      flex-flow: row;
    }
    .btn {
      margin: 0.5rem;
    }
  }
}

// @include --viewportMd {
//   .home__container {
//     > h1 {
//       @include h1;
//       text-align: center;
//       // margin-top: -100px;
//     }
//     > p {
//       font-size: $sizeMd1;
//     }
//   }
//   .btn-mobile {
//     // display: block;
//     text-decoration: none;
//   }
//   .btn {
//     margin: 6px;
//   }
// }

//
//
/* Team Section */
.team__container {
  padding: 2rem 0;
  h1 {
    font-size: $sizeLg;
    padding: 0 0 2rem 0;
    text-align: center;
  }
  .members {
    display: flex;
    flex-flow: column;
    @include --viewportMd {
      flex-flow: row;
    }
    justify-content: space-evenly;
    margin: 0 auto;
    // align-items: center;
    .member__card {
      padding: 1rem 0;
      display: flex;
      flex-flow: column;
      align-items: center;

      .member__picture {
        width: 15rem;
        height: 15rem;
        @include --viewportMd {
          width: 17rem;
          height: 17rem;
        }
        @include --viewportLg {
          width: 20rem;
          height: 20rem;
        }
        border-radius: 50%;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0 0.5rem 1rem rgba(15, 56, 133, 0.17);
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .member__info {
        padding: 1rem 0;
        .name {
          margin: 0;
          font-size: $sizeSm;
          @include --viewportMd {
            font-size: $sizeMd;
          }
        }
        .title {
          font-size: $sizeXSm;
          @include --viewportMd {
            font-size: $sizeSm;
          }
        }
      }
    }
  }
}
//
//
/* Contact Section */
.contact-section {
  display: flex;
  flex-flow: row;

  width: 80vw;
  padding: 5% 0;
  .contact__email {
    background-color: #fff;
    width: 100%;
    .contact-form {
      padding: 2% 4% 4% 4%;
      .contact-image {
        text-align: center;
        i {
          border-radius: 6rem;
          font-size: 5rem;
          margin-top: -1%;
          color: $colorPrimary;
        }
      }
      h3 {
        font-size: $sizeLg;
        color: $colorPrimary;
        margin: 5% 0;
        text-align: center;
      }
      h4 {
        font-size: $sizeMd;
        color: $colorText;
        font-weight: lighter;
        text-align: center;
        &::before {
          content: 'Interested in working together?';
          font-weight: normal;
        }
      }
      .form-inputs {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;

        .form-input {
          margin-bottom: 1rem;

          label {
            font-size: $sizeSm;
            width: 100%;
          }
          .form-control {
            border-radius: 1rem;
          }
          .submit-button {
            width: 10rem;
            border: none;
            border-radius: 1rem;
            padding: 1%;
            background: $colorAccent;
            font-size: $sizeSm;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.pricing__container {
}
.card {
  position: relative;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.1);
}
.card_red,
.card_red .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}
.card_violet,
.card_violet .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}
.card_three,
.card_three .title .fa {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.card:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}
.price {
  position: relative;
  z-index: 2;
}
.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}
.option {
  position: relative;
  z-index: 2;
}
.option ul {
  margin: 0;
  padding: 0;
}
.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}
.card a {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  color: #262fff;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 20px auto 0;
  line-height: 40px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card a:hover {
}
