@import './sass/variables.scss';
@import './sass/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
  // overflow-x: hidden;
  font-family: 'Fraunces', serif;
  color: $colorText;
}
.app {
  margin: 0;
  padding: 0;
}
//
//
/* Home Section */
.home__container {
  z-index: 99;
  margin-top: -3rem;
  // margin-bottom: -5rem;
  padding: 0;
  background: url('./assets/seoul.jpg') center center/cover no-repeat;
  // overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000rem rgb(0, 0, 0, 0.1);
  object-fit: cover;
  .home__contents {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: $sizeLg;
      @include --viewportMd {
        font-size: $sizeXLg;
      }
      color: #fff;
      letter-spacing: 0.5rem;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      margin-top: 0.5rem;
      color: #fff;
      font-size: $sizeSm;
      text-align: center;
      text-transform: capitalize;
    }
    .home__btns {
      margin-top: 3rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      @include --viewportMd {
        flex-flow: row;
        justify-content: space-evenly;
      }
      .btn {
        margin: 0.5rem;
        font-size: $sizeXSm;
        @include --viewportMd {
          font-size: $sizeSm;
        }
      }
    }
  }
}

//
//
/* About Section */
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;

  height: 100vh;
  width: 100%;
  background: url('./assets/restaurant-kitchen.jpg') center center/cover
    no-repeat;

  .about__contents {
    display: flex;
    flex-flow: column;
    justify-content: center;
    // align-items: center;
    padding: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    h1 {
      font-size: $sizeMd;
      color: #fff;

      letter-spacing: 0.1rem;
      text-align: left;
      text-transform: capitalize;

      @include --viewportMd {
        font-size: $sizeLg;
        text-align: center;
      }
    }
    p {
      margin-top: 0.5rem;
      color: #fff;
      font-size: $sizeSm;
      text-align: left;
    }
  }
}

//
//
/* Team Section */
.team__container {
  padding: 2rem 0;
  h1 {
    font-size: $sizeLg;
    padding: 0 0 2rem 0;
    text-align: center;
  }
  .members {
    display: flex;
    flex-flow: column;
    @include --viewportMd {
      flex-flow: row;
    }
    justify-content: space-evenly;
    margin: 0 auto;
    // align-items: center;
    .member__card {
      padding: 1rem 0;
      display: flex;
      flex-flow: column;
      align-items: center;

      .member__picture {
        width: 15rem;
        height: 15rem;
        @include --viewportMd {
          width: 17rem;
          height: 17rem;
        }
        @include --viewportLg {
          width: 20rem;
          height: 20rem;
        }
        border-radius: 50%;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0 0.5rem 1rem rgba(15, 56, 133, 0.17);
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .member__info {
        padding: 1rem 0;
        .name {
          margin: 0;
          font-size: $sizeSm;
          @include --viewportMd {
            font-size: $sizeMd;
          }
        }
        .title {
          font-size: $sizeXSm;
          @include --viewportMd {
            font-size: $sizeSm;
          }
        }
      }
    }
  }
}
//
//
/* Contact Section */
.contact-section {
  display: flex;
  flex-flow: row;

  width: 80vw;
  padding: 2rem 0;
  .contact__email {
    background-color: #fff;
    width: 100%;
    .contact-form {
      padding: 2% 4% 4% 4%;
      .contact-image {
        text-align: center;
        i {
          border-radius: 6rem;
          font-size: 5rem;
          margin-top: -1%;
          color: $colorPrimary;
        }
      }
      h3 {
        font-size: $sizeLg;
        color: $colorPrimary;
        margin: 5% 0;
        text-align: center;
      }
      h4 {
        font-size: $sizeMd;
        color: $colorText;
        font-weight: lighter;
        text-align: center;
        &::before {
          content: 'Want to have an experience of what we offer?';
          font-weight: normal;
        }
      }
      .form-inputs {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;

        .form-input {
          margin-bottom: 1rem;

          label {
            font-size: $sizeSm;
            width: 100%;
          }
          .form-control {
            border-radius: 1rem;
          }
          .submit-button {
            width: 10rem;
            border: none;
            border-radius: 1rem;
            padding: 1%;
            background: $colorAccent;
            font-size: $sizeSm;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
